<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publications">
  <div class="my-auto" id="publications-content">
    <h2 class="mb-5">Publications</h2>
  </div>
  {{ range .Site.Data.publications }}
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="publication-content mr-auto">
          <h3 class="mb-0">{{ .type }} - <a href="{{ .link }}">{{ .name }}</a></h3>
          <p>{{ .summary | safeHTML }}</p>
          <ul class="tags">
              {{ range  .tags }}
                <li><a class="tag">{{ . }}</a ></li>
              {{ end }}
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ .date }}</span>
          <img src="{{ .image }}" style="max-width:250px;padding:5px;"/>
        </div>
      </div>
  {{ end }}
</section>
