{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto" id="projects-content">
    <h1 id="{{ urlize .Title }}">{{ .Title }}</h1>
    <p>{{ .Content }}</p>
    {{ range .Data.Pages.ByWeight }}
      {{ if ne .Type "markdown" }}
        {{ partial (printf "%s%s" .Type "Summary") . }}
      {{ end }}
    {{ end }}
    {{ range .Sections }}
        <h2 id="{{ urlize .Title }}"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ .Content }}</p>
        {{ range .Pages }}
          {{ if ne .Type "markdown" }}
            {{ partial (printf "%s%s" .Type "Summary") . }}
          {{ end }}
        {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
