{{ $fields := (index .Site.Params.vcardfields) }}
BEGIN:VCARD
VERSION:4.0

{{ if in $fields "name" }}
N:{{ .Site.Params.lastName }};{{ .Site.Params.firstName }};;;
FN:{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}
{{ end }}
{{ if in $fields "phone" }}
TEL;TYPE=WORK,VOICE:{{ .Site.Params.phone }}
{{ end }}
{{ if in $fields "email" }}
EMAIL;TYPE=INTERNET,PREF:{{ .Param "email" }}
{{ end }}
{{ if in $fields "workemail" }}
EMAIL;TYPE=INTERNET,WORK:{{ .Param "workemail" }}
{{ end }}
{{ if in $fields "image" }}
PHOTO;TYPE=JPG;VALUE=URI:{{ .Site.BaseURL }}{{ .Site.Params.profileImage }}
{{ end }}
{{ if in $fields "org" }}
ORG:{{ range first 1 .Site.Data.experience }}{{ .company }}{{ end }}
{{ end }}
{{ if in $fields "title" }}
TITLE:{{ .Site.Params.contactNote }}
{{ end }}
{{ if in $fields "url" }}
URL:{{ .Site.BaseURL }}
{{ end }}
END:VCARD
